
extends layout

block header
  h1 #{name}

block summary
  p PairReview - Pairwise comparison

block content
  div(class='panel panel-default')
    - if (!user) {
        div.panel-heading
          | Who we are
        div.panel-body
          | Gajusz Chmiel, Miroslav Paskov and James Robinson
    - }
    - else if (!comparisson) {
        div.panel-heading Error
        div.panel-body An error occured getting a comparisson
          a(href='/index') Try again?
    - }
    - else {
        div.panel-heading Compare skill
        div.panel-body 
          table.comparison
            tr
              td(colspan=3) 
                h1 #{comparisson.skill_name}
            tr
              td 
                h2 #{comparisson.left_name}
              td(rowspan=2) 
                h3 vs
              td 
                h2 #{comparisson.right_name}
            tr
              td 
                a(href='#{comparisson.returnHref + "1"}')
                  img(src='#{comparisson.left_url}')
              td 
                a(href='#{comparisson.returnHref + "-1"}')
                  img(src='#{comparisson.right_url}')
            tr
              td(colspan=3) 
                a(href='#{comparisson.returnHref + "0"}') Don't Know
    - }
