
extends layout

block content
  div(class='panel panel-default')
    - if (!user) {
        div.panel-heading Who is better at
        div.panel-body 
          | Welcome to whoisbetter.at the skills comparison website. Hit the login link in the top right to get started. 
          | The website is currently in dev and so likely only to work if you have a linked in connection with
          | James Robinson, Miroslav Paskov or Gajusz Chmiel.
    - }
    - else if (!comparisson) {
        div.panel-heading Error
        div.panel-body An error occured getting a comparisson &nbsp;
          a(href='/index') Try again?
    - }
    - else {
        div.panel-heading Who is better at
        div.panel-body 
          table.comparison
            tr
              td(colspan=3) 
                h1 #{comparisson.skill_name}?
            tr
              td(width=300) 
                h2 #{comparisson.left_name}
              td(width=100)
              td(width=300) 
                h2 #{comparisson.right_name}
            tr
              td 
                a(href='#{comparisson.returnHref + "1"}')
                  img(src='#{comparisson.left_url}')
              td     
                a(role="button" class="btn btn-primary btn-log roughly" 
                  href='#{comparisson.returnHref + "0"}') Don't Know
              td 
                a(href='#{comparisson.returnHref + "-1"}')
                  img(src='#{comparisson.right_url}')
            tr
              td(colspan=2) 
                br
            tr
    - }
